/* Estilos generales */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Añadido para centrar vertical y horizontalmente */
  background-color: black;
  color-scheme: dark light;
  font-size: 24px;
  color: antiquewhite;
  text-align: center;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
  /* Ajusta el tamaño de la imagen al 100% del contenedor */
  height: auto;
  /* Ajusta automáticamente la altura para mantener la proporción */
  max-width: 350px;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  body {
    font-size: 18px;
    /* Reducir el tamaño de fuente para pantallas más pequeñas */
  }
}

/* Media query para pantallas muy pequeñas */
@media screen and (max-width: 480px) {
  img {
    max-width: 250px;
    /* Reducir el tamaño máximo de la imagen para pantallas muy pequeñas */
  }
}
