* {
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  align-items: center;
  background-color: black;
  color-scheme: dark light;
  font-size: 24px;
  color: antiquewhite;
}

h1 {
  text-align: center;
}